Django==1.11.5
django-bootstrap-datepicker==1.2.3
django-ckeditor==5.3.1
django-crispy-forms==1.6.1
django-cuser==2017.3.16
django-excel==0.0.9
django-floppyforms==1.7.0
django-js-asset==0.1.1
django-modeltranslation==0.12.1
django-mysql==2.1.0
django-navigation==0.8.1
django-tinymce==2.6.0
et-xmlfile==1.0.1
jdcal==1.3
lml==0.0.1
openpyxl==2.4.8
Pillow==5.0.0
pyexcel==0.5.4
pyexcel-io==0.5.1
pyexcel-webio==0.1.2
PyMySQL==0.7.11
pytz==2017.2
texttable==0.9.1
xlrd==1.1.0
xlwt==1.3.0
